body {
  font-family: Roboto, sans-serif;
  margin: 0px;
  background-color: #f6f9fe;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

label {
  display: block;
}

.button {
  margin: 15px;
}

.header {
  align-items: flex-start;
}
/* ------------------------
    NAV BAR
------------------------ */
#nav-outer-container {
  margin-bottom: 10px;
}
#navbar {
  display: flex;
  justify-content: space-between;
  color: black;
  align-items: center;
}

#navbar a {
  color: white;
}
#navWelcome {
  margin-left: 10px;
  font-family: 'Merriweather';
}
.navLinks {
  display: flex;
}
.navLinks a {
  margin: 0px 5px;
}
.nav-menu-links a {
  color: black;
}

/* ------------------------
    AUTH FORM
------------------------ */
.auth-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.auth-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#auth-form-google {
  margin: 20px;
}

#g-img {
  padding: 5px;
  width: 30px;
  height: 30px;
}

/* ------------------------
    Recording Screen
------------------------ */

.recording-screen {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.recording-screen h1,
h3 {
  margin-block-start: 0.4em;
  margin-block-end: 0.4em;
}

.recording-buttons {
  display: flex;
}

.recording-buttons button {
  display: flex;
  margin: 5px;
}

#timer {
  font-size: 8em;
}
/* ------------------------
    ABOUT US
------------------------ */
#profile-container {
  padding: 30px;
}

.profile {
  display: flex;
  padding: 30px;
}

.profile-picture {
  height: 350px;
  width: 350px;
  padding: 20px;
}

.profile-details {
  padding: 20px;
}

.icon {
  height: 25px;
  width: 25px;
  margin-right: 15px;
}

/* ------------------------
    FOOTER
------------------------ */
#footer-container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 60px;
  position: relative;
  margin-top: auto;
  flex-shrink: 0;
}

#footer-details {
  display: flex;
}

.footer-link-details {
  align-items: center;
  margin: 10px;
}

#mainContainer {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  min-height: 100%;
}

.content {
  flex-grow: 1;
}

html,
body,
#app,
#app > div {
  height: 100%;
}

/* ------------------------
    Data Overviews
------------------------ */
.data-overview {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

/* ------------------------
   Dashboard Item
------------------------ */
.dashboard-item {
  display: flex;
  margin: 15px;
  padding: 10px;
}
.dashboard-item ol,
li {
  list-style-position: inside;
  text-align: center;
}
.dashboard-item ol > span {
  text-decoration: underline;
}
.dashboard-item ol > li {
  text-decoration: none;
}

.dashboard-item > * {
  margin: 10px;
  padding: 10px;
}
.dashboard-item-text {
  text-align: justify;
}

/* ------------------------
   Error Page
------------------------ */
.error-page {
  display: flex;
  font-size: 12px;
}

.error-page h2 {
  margin-top: 8em;
  margin-right: 4em;
}

.error-img {
  width: 50%;
  height: 100%;
  margin-left: 4em;
  padding: 4em;
}
