body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

.auth-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#auth-form-google {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}
